#Path_295 {
  fill: #656691;
}

#Path_300 {
  fill: #656691;
}

#Path_266 {
  fill: #575988;
}

#Path_262,
#Path_263 {
  fill: #2d293d;
}

#Path_217,
#Path_218,
#Path_219,
#Path_220,
#Path_221,
#Path_222,
#Path_223,
#Path_225,
#Path_226,
#Path_227,
#Path_228,
#Path_229,
#Path_230,
#Path_231 {
  fill: $orange;
}

#undraw_taking_notes_tjaf:hover {
  #Path_295,
  #Path_266 {
    fill: $dark-orange;
  }
  #Path_300 {
    fill: $light-orange;
  }
  #Path_262,
  #Path_263 {
    fill: $black;
  }

  #Path_217,
  #Path_218,
  #Path_219,
  #Path_220,
  #Path_221,
  #Path_222,
  #Path_223,
  #Path_225,
  #Path_226,
  #Path_227,
  #Path_228,
  #Path_229,
  #Path_230,
  #Path_231 {
    fill: $light-green;
  }

  #Path_209,
  #Path_210,
  #Path_211,
  #Path_212,
  #Path_213,
  #Path_214,
  #Path_215 {
    fill: $dark-green;
    opacity: 1;
  }

  #Path_236,
  #Path_232 {
    fill: rgb(177, 67, 67);
  }
}
