.courses {
  padding: 1rem 0;
  margin-bottom: 3.5rem;

  &__img {
    padding-bottom: 4rem;
    &--cover {
      padding: 0;
      width: auto;

      @media (max-width: 575.98px) {
        height: 16.1rem;
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        height: 18rem;
      }

      @media (min-width: 768px) {
        height: 22rem;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__details {
    padding-left: 2rem;
    padding-bottom: 4rem;

    &--smallheader h3 {
      @include sideHeader_1;
    }

    &--header h2 {
      @include heading;
    }

    &--main {
      @include sideHeader;
    }

    @media (max-width: 575.98px) {
      padding-left: 0rem;
    }
  }
}
